[Unit]
Description=AIS
After=syslog.target network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/rtl_ais -T -P 4000
Restart=always
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target

