
[Unit]
Description=aisdeco2
After=syslog.target network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/aisdeco2 –gain 33.8 –freq 161975000 –freq 162025000 –net 4000
Restart=always
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
